<h1>Reset Password</h1>

<%= form_with model: @user, url: password_reset_path do |form| %>
  <% if form.object.errors.any? %>
    <p class="notice">
      <% form.object.errors.full_messages.each do |message| %>
        <%= message %> <br />
      <% end %>
    </p>
  <% end %>

  <div>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <div>
    <%= form.submit "Reset Password" %>
  </div>
<% end %>
